page-home {
    background-color: aqua;
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          border-radius:20px;
        }
      
        ion-card-content{
            font-size: 15px;
        }
      
      }
}
